*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.idea/
*.iml
.settings/
.classpath
.project
.tern-project
target/
src/main/webapp/WEB-INF/lib/
src/main/webapp/WEB-INF/classes/
src/main/java/rebel.xml